/* Gradient behind carousel */
#gradientBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  transition: background 0.6s ease;
  pointer-events: none;
}

/* Fade bottom of carousel image */
.carousel-item img {
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
}

/* responsive Carousel */
.carousel-item img {
  width: 100%;
  /* height: auto; */
  aspect-ratio: 4/3;     /* default mobile */
  object-fit: fill;
  display: block;
}
/* Carousel image height (large screens) */
@media (min-width: 992px) {
    .carousel-item img {
        aspect-ratio: 24/9;
        object-fit: fill;
    }
}
/* Small devices */
@media (min-width: 576px) {
    .carousel-item img {
        aspect-ratio: 16/10;
        object-fit: fill;
    }
}
/* Tablets */
@media (min-width: 768px) {
  .carousel-item img {
    aspect-ratio: 24/9;
    object-fit: fill;
  }
}

/* Carousel caption alignment */
.caption {
    justify-items: start;
}





