:root {
  --bs-primary: #0d6efd;
  --bs-dark: #212529;
  --bs-body-bg: #ffffff;
}

body {
  margin: 0;
  /* background: var(--brand-bg); */
}

/* for Gradient carousel */
.bg-body-tertiary{
  background-color: transparent !important;
}
/* .bg-body-tertiary{
  --bs-bg-opacity: 0 !important;
} */

#root {
  min-height: 100vh;
}

/* for ligin and register page */
.login-wrapper {
  width: 100%;
  max-width: 960px;
}
.left-panel {
  background: linear-gradient(160deg, #714435 0%, #d4623e 100%);
}

/* Product card page*/
.product-image-wrap {
  height: 220px;
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* product details page */
.product-detail-image-wrap {
  min-height: 420px;
}

@media (max-width: 991.98px) {
  .summary-sticky {
    position: static;
    top: auto;
  }

  .product-detail-image-wrap {
    min-height: 320px;
  }
}
.product-detail-image {
  width: 100%;
  max-height: 520px;
  object-fit: contain;
}

/* cart  */
.cart-item-image {
  width: 90px;
  height: 90px;
  object-fit: cover;
  background: #f8f9fa;
}

/* my orders & checkout */
.summary-item-image {
  width: 46px;
  height: 46px;
  object-fit: cover;
  background: #f8f9fa;
}

/* order details */
.order-item-image {
  width: 56px;
  height: 56px;
  object-fit: cover;
  background: #f8f9fa;
}

/* admin products */
.admin-product-image {
  width: 56px;
  height: 56px;
  object-fit: cover;
  background: #f8f9fa;
}

/* sticky summary cart, checkout, order details */
.summary-sticky {
  position: sticky;
  /* top: 5.5rem; */
}


